---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout pageTitle="Detail Blog">
  <section>
    <h1 class="font-bold text-muted-foreground tracking-tight">Detail Blog</h1>

    <div class="space-y-8 mt-14">cv here</div>
  </section>
</MainLayout>
