---
import { Icon } from "./ui/icon";
---

<footer class="py-8 border-t flex justify-center">
  <h1 class="text-sm text-muted-foreground">
    Made with <Icon
      name="heart"
      class="fill-rose-500 stroke-rose-500 size-4 inline-flex mx-1"
    /> by <a href="" class="font-medium underline">me</a>
  </h1>
</footer>
