---
import { cn } from "@/lib/utils";
import { Button } from "./ui/button";
import { Header, HeaderActions, HeaderContent } from "./ui/header";
import { Icon } from "./ui/icon";
import { Separator } from "./ui/separator";
import { ThemeToggle } from "./ui/theme-toggle";
import { contentfulClient } from "@/lib/contentful";
import type { ProfileSkeleton } from "@/interfaces/profile.interface";

const { pathname } = Astro.url;

const profileEntries = await contentfulClient.getEntries<ProfileSkeleton>({
  content_type: "profile",
  limit: 1,
  select: ["fields.linkedinUrl", "fields.email"],
});

const profile = profileEntries.items.at(0)?.fields;
---

<Header variant="floating" class="px-4 mt-8 mx-auto">
  <HeaderContent>
    <HeaderActions>
      <Button
        href="/"
        size="icon"
        variant="ghost"
        class={cn("cursor-pointer", pathname === "/" && "bg-accent")}
      >
        <Icon name="home" />
        <span class="sr-only">Home</span>
      </Button>
      <Button
        href="/blog"
        size="icon"
        variant="ghost"
        class={cn("cursor-pointer", pathname === "/blog" && "bg-accent")}
      >
        <Icon name="rss" />
        <span class="sr-only">Blog</span>
      </Button>
      <Button
        href="/project"
        size="icon"
        variant="ghost"
        class={cn("cursor-pointer", pathname === "/project" && "bg-accent")}
      >
        <Icon name="blocks" />
        <span class="sr-only">Projects</span>
      </Button>
      <Button
        href="/cv"
        size="icon"
        variant="ghost"
        class={cn("cursor-pointer", pathname === "/cv" && "bg-accent")}
      >
        <Icon name="file-user" />
        <span class="sr-only">CV</span>
      </Button>
    </HeaderActions>

    <HeaderActions class="ml-auto">
      <Button
        href={profile?.linkedinUrl}
        target="_blank"
        size="icon"
        variant="ghost"
      >
        <Icon name="linkedin" />
        <span class="sr-only">LinkedIn</span>
      </Button>
      <Button href={`mailto:${profile?.email}`} size="icon" variant="ghost">
        <Icon name="mail" />
        <span class="sr-only">Email</span>
      </Button>
      <Separator orientation="vertical" />
      <ThemeToggle />
    </HeaderActions>
  </HeaderContent>
</Header>
