---
import { Badge } from "./ui/badge";
import { Button } from "./ui/button";
import { Icon } from "./ui/icon";
---

<section>
  <h1 class="font-bold text-muted-foreground tracking-tight">Blog</h1>

  <div class="space-y-8 mt-14">
    {
      Array.from({ length: 3 }).map((_) => (
        <div class="flex items-start gap-10">
          <h2 class="min-w-max text-sm font-semibold text-muted-foreground pt-3">
            Jun 2024
          </h2>
          <div>
            {Array.from({ length: 2 }).map((_) => (
              <div class="prose-sm text-muted-foreground prose-h4:font-semibold hover:bg-secondary hover:cursor-pointer hover:text-foreground py-3.5 px-5 rounded-lg">
                <h4>
                  A More Seamless Workflow: Style Guides For Better Design &
                  Development.
                </h4>
                <Badge variant="secondary" class="font-medium">
                  <Icon name="user2" class="size-4" />
                  3,232 views
                </Badge>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>

  <Button variant="outline" href="" class="w-full mt-8 cursor-pointer group"
    >Show More <Icon name="arrow-up-right" /></Button
  >
</section>
