---
import AppHeader from "@/components/AppHeader.astro";
import AppFooter from "@/components/AppFooter.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = {
  pageTitle?: string;
};

const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="max-w-xl mx-auto space-y-28">
    <AppHeader />
    <main class="mt-24 sm:mt-32 px-5 sm:px-0 space-y-24">
      <slot />
    </main>
    <AppFooter />
  </div>
</BaseLayout>
